{% extends "include/base.jinja" %}

{% block title %}Buy Coffee! Online!{% endblock %}

{% block content %}
            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">
                  
                  {% for item in items %}
                  <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                        <img src="{{item.icon_url}}" alt="">
                          <div class="caption">
                              <h4 class="pull-right">$24.99</h4>
                              <h4><a href="#">{{item.name}}</a>
                              </h4>
                              <p>{{item.description}}</p>
                              <button type="button" class="purchase_button btn btn-lg btn-success" price="{{item.price}}" item_name="{{item.name}}" item_id="{{item.id}}">{{item.price}}</button>
                          </div>
                      </div>
                  </div>
                  {% endfor %}

                </div>
            </div>
        </div>


{% endblock %}

{% block javascript %}
  <script src="https://checkout.stripe.com/checkout.js"></script>

  <script>
    
    var purchased_item_id = null;

    var handler = StripeCheckout.configure({
      key: 'pk_test_oFUfikhMAgGNmXaKWU7MjRYl',
      image: '/static/icons/chemex_coffee-128.png',
      name: 'cokitchen test',
      token: function(token) {
        var url = '/purchase/' + purchased_item_id;
        $.ajax({
          type: 'POST',
          url: url,
          data: token,
          success: function(data) {
          },
          error: function(data) {
          }
        })
      }
    });

    $('.purchase_button').on('click', function(e) {

      purchased_item_id = $(this).attr('item_id');

      // Open Checkout with further options
      handler.open({
        description: $(this).attr('item_name'),
        amount: $(this).attr('price') * 100,
        closed: function() { purchased_item_id = null; }
      });
      e.preventDefault();
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
      handler.close();
    });
  </script>

{% endblock %}
